:root {
  --bg-color: rgb(20,20,20);
}

@font-face {
  font-family: 'AnticSans-Regular';
  src: url('./assets/fonts/AnticSans-Regular.otf') format('opentype');
}

body {
  background: var(--bg-color);
  font-family: 'AnticSans-Regular', sans-serif;
  color: #cacaca
}

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.h1-title {
  position: relative;
  font-family: 'AnticSans-Regular', Fallback, sans-serif;
  font-size: 3vw;
  z-index: 1;
}

.h1-title::before,
.h1-title::after {
  content: "";
  position: absolute;
  top: 60%;
  width: 60%;
  height: 1px; /* or whatever thickness you want */
  background-color: #ffffff; /* line color */
  z-index: -1;
}

.h1-title::before {
  left: -80%;
}

.h1-title::after {
  right: -80%;
}

/* Button styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button.add-button {
  font-size: 24px;
  padding: 5px 12px;
}

.App {
  font-family:'Trebuchet MS', Times, serif, sans-serif;
  margin: 20px;
}

.form-container{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  margin: 10px;
}

.cards-body {
  display: flex;
  margin: 0px;
  overflow:visible;
  padding-left:8%;
  padding-right: 8%;
  justify-content: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 1000px;
  width: calc(100%-20px);
}

.entry {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 200px;
  width: 300px;
  position: relative;
}

.entry::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position:absolute;
  top: 0px;
  width: 100%;
}

.entry-header {
  font-weight: bold;
  display: flex;
  justify-content:space-around;
}

.entry-body {
  margin-top: 10px;
}

.entry-footer {
  margin-top: 10px;
  text-align: right;
  font-style: italic;
}
